<h1>Home</h1>
<h2>Bingyuan used this to learn some stuff about rails</h2>
<%= button_to "Hey Whatsup", whatsup_path %>
<%= link_to "Monitor Jobs", sidekiq_web_path %>

<%= link_to "Spyfallio", spyfall_index_path %>