<table class="table-auto w-full rounded-lg overflow-hidden">
      <% @game.log.split("\n").each_with_index do |entry, index| %>
      <tr class="text-white <%= cycle('bg-slate-600', 'bg-slate-700') %>">
        <td><%= entry %></td>
      </tr>
    <% end %>
</table>